<main>
	<h6 class="top-title">
	  	<span>What's Tottoki!</span></h6>
			<div class="moji">
				<p>Tottokiとは大事な情報だけとってほしい！そんな意味をこめた美容情報サイトです。</p>
				<p>さまざまな情報がありますが気になる記事はログイン後いいねができます</p>
				<p>ログイン後にいいねした記事はマイページにて表示されます。</p>
				<p><a class="link-btn"><%= link_to "のぞいてみる", entries_path,class:"demo1" %></a></p>
			</div>
</main>