<main>
	<div class="about">
		<div class="top-item-about">
			<h2 class="top-title-about">What's Tottoki!</h2>
				<p class="moji-about">Tottoki!とは大事な情報だけとっとき！</p><br>
				<p class="moji-about">そんな意味の美容情報サイトです</p><br>
				<p class="komoji-about">
				（とっとき、とは福岡では「とっておきなさい」の意味です）</p><br>
				<p class="moji-about">さまざまな記事の中、気になるものはログイン後いいねができます</p><br>
				<p class="moji-about">ログイン後にいいねした記事はマイページにて表示されます</p><br>
				<p class="moji-about">
				それでは、Let's　Tottoki～～!!!!</p><br>
				<p><a class="link-btn"><%= link_to "のぞいてみる", entries_path,class:"demo1" %></a></p>
		</div>
	</div>
</main>