<div class="top-page">
	<div id="vegas">
		<div class="top-item">
			<h2 class="top-title">Tottoki!</h2>
				<p class="moji">～美容系情報サイト!～</p>

					<p><a class="link-btn"><%= link_to "Tottoki!って？", about_path,class:"demo1" %></a></p><br>

					<p><a class="link-btn"><%= link_to "のぞいてみる！", entries_path,class:"demo1" %></a></p>
		</div>
	</div>
</div>
