// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.col-xs-3 {
    width: 25%;
}

.col-xs-9 {
    width: 75%;
}
.circle img {
  border-radius: 30px;
}
img.profile-img{
  float: right;
  margin-top: 30px;
  width: 100px;
  height: 100px;
}
.pull-left {
  float: none;
  left: -100%;
  margin-left: 10px;
}

.simple_square_btn3 {
	display: block;
	position: relative;
	width: 160px;
	padding: 0.8em;
	text-align: center;
	text-decoration: none;
	color: #1B1B1B;
	background: #fff;
    border-radius: 30px;
	border:1px solid #1B1B1B;
}
.simple_square_btn3:hover {
	 cursor: pointer;
	 text-decoration: none;
	 -webkit-animation: simple_square_btn3 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
     -moz-animation: simple_square_btn3 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	 animation: simple_square_btn3 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes simple_square_btn3 {
  0% {
    -webkit-transform: scale(0.85);
    transform: scale(0.85);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes simple_square_btn3 {
  0% {
    -webkit-transform: scale(0.85);
    transform: scale(0.85);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes simple_square_btn3 {
  0% {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.demo1{
  display: inline-block;
  padding: 20px 20px;
  border: solid 2px #fff;
  border-radius: 3px;
  background: rgba(0,0,0,0.2);
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Kosugi Maru', sans-serif;
}
.demo1:hover{
  color: #333;
  background: #fff;
}

.top-title{
  font-family: 'Charm', cursive;
  font-size: 150px;
  color: #fff;
}

.title-moji{
  font-family: 'Fredericka the Great', cursive;
  color: #fff;
}

.moji{
  font-family: 'Kosugi Maru', sans-serif;
  font-size: 20px;
  color: #fff;
}
