// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

main {
  height: 100%;
  min-height: 100vh;
  padding: 0 50px;
  background-color: #88CCC4;
  transition: all .5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main h1 {
  text-align: center;
  font-weight: 500;
}
main p {
  text-align: center;
}
/*トップページ*/
.top-page{
  height: 100%;
  min-height: 100vh;
  transition: all .5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-weight: 500;
  text-align: center;
  position: relative;
}
#vegas{
  width:100vw;
  height:100vh;
  position: relative;
}
.top-item{
  position: absolute;
  top: 15%;
  left: 38%;
}
/*トップページの文字*/
.top-title{
  font-family: 'Charm', cursive;
  font-size: 150px;
  color: #fff;
  text-align: center;
}
.moji{
  font-family: 'Kosugi Maru', sans-serif;
  font-size: 20px;
  color: #fff;
}

/*アバウトページ*/
.about{
  width:100vw;
  height:100vh;
  position: relative;
}
.top-item-about{
  position: absolute;
  top: 15%;
  left: 25%;
}
/*アバウトページの文字*/
.top-title-about{
  font-family: 'Charm', cursive;
  font-size: 100px;
  color: #fff;
  position: relative;
  text-align: center;
}
.moji-about{
  font-family: 'Kosugi Maru', sans-serif;
  font-size: 25px;
  color: #fff;
}

.komoji-about{
  font-family: 'Kosugi Maru', sans-serif;
  font-size: 17px;
  color: #fff;
}

/*トップページ・アバウトページのボタン*/
.demo1{
  display: inline-block;
  padding: 20px 20px;
  border: solid 2px #fff;
  border-radius: 3px;
  background: rgba(0,0,0,0.3);
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Kosugi Maru', sans-serif;
}
.demo1:hover{
  color: #fff;
  background: rgba(0,0,0,0.7);
}



/*マイページの文字・レイアウト*/
.title-moji{
  font-family: 'Charm', cursive;
  color: #fff;
}

.col-xs-3 {
    width: 25%;
}

.col-xs-9 {
    width: 75%;
}
.circle img {
  border-radius: 30px;
}
img.profile-img{
  float: right;
  margin-top: 30px;
  width: 100px;
  height: 100px;
}
.pull-left {
  float: none;
  left: -100%;
  margin-left: 10px;
}

.panel-body{
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #2E1B0F;
    text-decoration: none
}


/*マイページボタン*/
.simple_square_btn3 {
  display: block;
  position: relative;
  width: 160px;
  padding: 0.8em;
  text-align: center;
  text-decoration: none;
  color: #1B1B1B;
  background: #fff;
    border-radius: 30px;
  border:1px solid #1B1B1B;
}
.simple_square_btn3:hover {
   cursor: pointer;
   text-decoration: none;
   -webkit-animation: simple_square_btn3 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
   -moz-animation: simple_square_btn3 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
   animation: simple_square_btn3 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes simple_square_btn3 {
  0% {
    -webkit-transform: scale(0.85);
    transform: scale(0.85);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes simple_square_btn3 {
  0% {
    -webkit-transform: scale(0.85);
    transform: scale(0.85);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes simple_square_btn3 {
  0% {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
